body {
    font-family: Arial, sans-serif;
    background-color:black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(255, 255, 254);
    padding: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #191616;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 1px solid #0c6eca;
    border-radius: 5px 0 0 5px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    background: #191918;
    color: rgba(15, 223, 12, 0.884);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #f4f4f4;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

li.purchased {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

button.clear {
    background: #FF6347;
    border-radius: 5px;
    margin-top: 10px;
}

button.clear:hover {
    background: #000000;
}
